/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 7, 2016, 1:38:58 PM
    Author     : Zunayed Hassan
*/

#object1,
#object2,
#object3 {
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

#object1 {
    -fx-fill: cornflowerblue;
}

#object2 {
    -fx-fill: lightpink;
}

#object3 {
    -fx-fill: darkorange;
}

#free-hand-selection {
    -fx-fill: rgba(230, 230, 230, 0.5);
    -fx-stroke: cornflowerblue;
    -fx-stroke-width: 1;
}
